section.section-home
  .container
    .preview      
        .preview__item.preview__item--category
            .categories
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(src="./images/home/playstation.png", title="Игровая приставка" alt="Игровая приставка") 
                        span.categories__tx Игровая приставка
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/home/bike.png", title="Велосипеды" alt="Велосипеды") 
                        span.categories__tx Велосипеды
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/home/scooter.png", title="Самокат для взрослых" alt="Самокат для взрослых") 
                        span.categories__tx Самокат для взрослых
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/home/gamepad.png", title="Геймпад" alt="Геймпад") 
                        span.categories__tx Геймпад
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/home/sneakers.png", title="Кроссовки для бега" alt="Кроссовки для бега") 
                        span.categories__tx Кроссовки для бега
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/home/vr.png", title="VR-очки" alt="VR-очки") 
                        span.categories__tx VR-очки
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/home/boardgames.png", title="Настольные игры" alt="Настольные игры") 
                        span.categories__tx Настольные игры
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/home/gadget.png", title="Умные гаджеты" alt="Умные гаджеты") 
                        span.categories__tx Умные гаджеты
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/home/dron.png", title="Дроны" alt="Дроны") 
                        span.categories__tx Дроны
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/home/books.png", title="Книги" alt="Книги") 
                        span.categories__tx Книги
        .preview__item.preview__item--info
            h1(class="preview__title") Останусь дома...
            p(class="preview__text")
                | Форс-мажор или какой-то пролетающий вблизи 
                | полноценный “черный лебедь” иногда оставляет 
                | нас без отпуска. Вы найдете способ скоротать время, 
                | а мы подскажем, как это сделать если не с пользой, 
                | то хотя бы интересно.
            
include ../parts/parts__cost--home.pug
include ../parts/parts__promo--home.pug