section.section-abroad
  .container
    .preview
        .preview__item.preview__item--info
            h1(class="preview__title") За границу!
            p(class="preview__text") 
                | Отже, виплануєте цього літа добряче покупатися. Аби відпустка вдалася треба, по-перше, обрати 
                | купальник/плавки, по-друге, для комфорту - сонцезахисну косметику, а ще пляжний одяг, 
                | сумки, зонтики й не тільки                 
        .preview__item.preview__item--category
            .categories
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(src="./images/abroad/case.png", title="Чемодан" alt="Чемодан") 
                        span.categories__tx Чемодан
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/abroad/passport.png", title="Обложки для паспорта" alt="Обложки для паспорта") 
                        span.categories__tx Обложки для паспорта
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/abroad/backpack.png", title="Рюкзак" alt="Рюкзак") 
                        span.categories__tx Рюкзак
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/abroad/selfiestick.png", title="Селфи палка" alt="Селфи палка") 
                        span.categories__tx Селфи палка
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/abroad/camera.png", title="Фотоаппарат" alt="Фотоаппарат") 
                        span.categories__tx Фотоаппарат
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/abroad/player.png", title="Плеер" alt="Плеер") 
                        span.categories__tx Плеер
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/abroad/pillow.png", title="Подушка под голову" alt="Подушка под голову") 
                        span.categories__tx Подушка под голову
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/abroad/battery.png", title="Павер-банк" alt="Павер-банк") 
                        span.categories__tx Павер-банк
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/abroad/action.png", title="Экшн-камера" alt="Экшн-камера") 
                        span.categories__tx Экшн-камера
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/abroad/headphones.png", title="Наушники" alt="Наушники") 
                        span.categories__tx Наушники                
include ../parts/parts__cost--abroad.pug
include ../parts/parts__promo--abroad.pug