section.section-promo.section-promo--bg
    .container
        .project
            .project__item.project--logo
                a(href="htttp://price.ua" class="project__link")
                    img(class="project__img" src="./images/price-color-logo.jpg", alt="Price.ua")
            .project__item.project--text
                | Понимаем, что даже те несколько сотен товаров, которые мы собрали в этом 
                | спецпроекте, может не хватить для сбора одного настоящего туриста. Что ж, 
                | не отчаивайтесь: экономьте деньги, сравнивая цены на товары на Price.ua!
        .btn-box.btn-box--center
            a(class ="btn btn--primary" href="http://Price.ua") Сравнить все товары