section.section-promo.section-promo--bg
    .container
        .project
            .project__item.project--logo
                a(href="htttp://price.ua" class="project__link")
                    img(class="project__img" src="./images/price-color-logo.jpg", alt="Price.ua")
            .project__item.project--text
                | Поисковик Google не является оптимальным место для поиска товаров, ведь вы 
                | видите сайты с лучшим продвижением, а не выгодной ценой. Price.ua сравнивает 
                | цены на сайтах, экономя деньги и время.