section.section-promo.section-promo--bg
    .container
        .project
            .project__item.project--logo
                a(href="htttp://price.ua" class="project__link")
                    img(class="project__img" src="./images/price-color-logo.jpg", alt="Price.ua")
            .project__item.project--text
                | Price.ua - это удобный и надежный сервис для сравнения цен. Сайт работает 
                | на рынке более 10 лет. Он помогает найти выгодные цены на любые товары.