section.section-cost.cost--abroad
    .container
        .prices
            .prices__item
                .prices__value 1100 - 2500 
                    span.prices__type грн
                .prices__info Средняя цена чемодана
            .prices__item
                .prices__value 1100 - 2500 
                    span.prices__type грн
                .prices__info Средняя стоимость экшн-камеры
