section.section-cost.cost--mountains
    .container
        .prices
            .prices__item
                .prices__value 900 - 2000 
                    span.prices__type грн
                .prices__info Средняя цена палатки
            .prices__item
                .prices__value 1000 - 1500 
                    span.prices__type грн
                .prices__info Средняя стоимость рюкзака
