section#nav-mountains.section-mountains
  .container
    .preview      
        .preview__item.preview__item--category
            .categories
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(src="./images/mountains/tent.png", title="Палатка" alt="Палатка") 
                        span.categories__tx Палатка
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/mountains/backpacking.png", title="Рюкзак" alt="Рюкзак") 
                        span.categories__tx Рюкзак
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/mountains/sleepbag.png", title="Спальный мешок" alt="Спальный мешок") 
                        span.categories__tx Спальный мешок
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/mountains/light.png", title="Фонарик" alt="Фонарик") 
                        span.categories__tx Фонарик
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/mountains/burner.png", title="Горелка" alt="Горелка") 
                        span.categories__tx Горелка
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/mountains/knife.png", title="Нож" alt="Нож") 
                        span.categories__tx Нож
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/mountains/boots.png", title="Обувь" alt="Обувь") 
                        span.categories__tx Обувь
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/mountains/mosquito.png", title="Средства от москитов" alt="Средства от москитов") 
                        span.categories__tx Средства от москитов
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/mountains/navigator.png", title="Навигатор" alt="Навигатор") 
                        span.categories__tx Навигатор
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/mountains/thermos.png", title="Термос" alt="Термос") 
                        span.categories__tx Термос                
        .preview__item.preview__item--info
            h1(class="preview__title") В горы!
            p(class="preview__text")
                | Мы поняли, что ленивый отдых у моря вам не по 
                | душе в этот раз, а потому вы подыскиваете надежную палатку, теплый спальник, удобную обувь, 
                | возможно, навигатор и еще несколько практичных походных вещей.
include ../parts/parts__cost--mountains.pug
include ../parts/parts__promo--mountains.pug