section.section-cost.cost--home
    .container
        .prices
            .prices__item
                .prices__value 6000 - 7000 
                    span.prices__type грн
                .prices__info Средняя цена игровой приставки
            .prices__item
                .prices__value 2000 - 5000 
                    span.prices__type грн
                .prices__info Средняя стоимость небольшого квадрокоптера
