section.section-promo
    .container
        .project
            .project__item.project--logo
                a(href="htttp://price.ua" class="project__link")
                    img(class="project__img" src="./images/price-color-logo.jpg", alt="Price.ua")
            .project__item.project--text
                | Price.ua знает, как найти выгодные цены. Помните: самая низкая цена - не означает 
                | оптимальная. Берите во внимание условия гарантии, доставки и возможного 
                | возврата.