section.section-cost
    .container
        .prices
            .prices__item
                .prices__value 400 - 600 
                    span.prices__type грн
                .prices__info Средняя цена купальника
            .prices__item
                .prices__value 200 - 400 
                    span.prices__type грн
                .prices__info Средняя стоимость пляжной сумки
