section.section-sea
  .container
    include ../nav/nav__index.pug
    .preview
        .preview__item.preview__item--info
            h1(class="preview__title") На море!
            p(class="preview__text") Итак, этим летом вы собираетесь от души накупаться. 
                | Чтобы отдых удался, вам, во-первых, понадобится выбрать
                | купальник/плавки, во-вторых, солнцезащитную косметику, 
                | а также пляжную одежду, сумку, зонтик и не только.          
        .preview__item.preview__item--category
            .categories
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(src="./images/sea/swimsuit.png", title="Купальник" alt="Купальник") 
                        span.categories__tx Купальник
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/sea/mens-swimming-trunks.png", title="Мужские плавки" alt="Мужские плавки") 
                        span.categories__tx Мужские плавки
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/sea/sunscreen-сosmetics.png", title="Солнцезащитная косметика" alt="Солнцезащитная косметика") 
                        span.categories__tx Солнцезащитная косметика
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/sea/beach-bag.png", title="Пляжная сумка" alt="Пляжная сумка") 
                        span.categories__tx Пляжная сумка
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/sea/inflatable-mattress.png", title="Надувной матрасс" alt="Надувной матрасс") 
                        span.categories__tx Надувной матрасс
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/sea/flip-flops.png", title="Сандали / вьетнамки / шлепанцы" alt="Сандали / вьетнамки / шлепанцы") 
                        span.categories__tx Сандали / вьетнамки / шлепанцы
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/sea/swimming-mask.png", title="Маски для плавания" alt="Маски для плавания") 
                        span.categories__tx Маски для плавания
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/sea/sun-glasses.png", title="Солнцезащитные очки" alt="Солнцезащитные очки") 
                        span.categories__tx Солнцезащитные очки
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/sea/refrigerator-bag.png", title="Сумка-холодильник" alt="Сумка-холодильник") 
                        span.categories__tx Сумка-холодильник
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/sea/inflatable-childrens-goods.png", title="Надувные детские товары" alt="Надувные детские товары") 
                        span.categories__tx Надувные детские товары
                .categories__item
                    a(href="#" class="categories__link")
                        .categories__wrap
                            img(class="categories__img" src="./images/sea/t-shirts.png", title="Футболки" alt="Футболки") 
                        span.categories__tx Футболки
include ../parts/parts__cost--sea.pug
include ../parts/parts__promo--sea.pug