section.section-promo
    .container
        .project-info
            .project-logo
                a(href="#" class="project-logo__link")
                    img(class="project-logo__img" src="./images/price-color-logo.jpg", alt="Price.ua")
            .project-text
                | Price.ua знает, как найти выгодные цены. Помните: самая низкая цена - не означает 
                | оптимальная. Берите во внимание условия гарантии, доставки и возможного 
                | возврата.