.social
    a(class='social__item social__item--fb' href="#")
        i(class='sprite sprite-facebook')
    a(class='social__item social__item--tw' href="#")
        i(class='sprite sprite-twitter')
    a(class='social__item social__item--gp' href="#")
        i(class='sprite sprite-google')        