$color-bg: #f4f3f3;
$color-tx: #fff;

.social{    
    &__box{
        display: flex;
        justify-content: space-evenly;
    }
    &__tx{
        color: $color-tx;
    }
    &__item{
        width: 25px;
        height: 25px;
        border-radius: 5px;
        background-color: $color-bg;
        display: inline-block;
        vertical-align: middle;        
        text-align: center;
    }
    &__item + &__item{
        margin-left: 10px;
    }
}