@import 'fonts';
@import 'icons';
@import 'social';
@import '/controls/controls';

@import 'normalize';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
img{
  max-width: 100%;
  height: auto;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

// Support for older browsers

// Preview sections
.preview {
  display: flex;
  align-items: center;
  &__item{
    flex-basis: 50%;
  }
  &__title{
    font-size: 36px;
    text-transform: uppercase;
    color: #1976d2;
    &--xl{
      font-size: 46px;
    }
  }
  &__text{
    color: #262a3b;
    font-size: 18px;
  }
}

// Parts__sea
.section-sea {
  background: url('../images/bg-sea.png') #f4f3f3 no-repeat center center;  
  background-size: cover;
  padding: 100px 0;
}
.section-cost{
  background-color: #348ae0;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 60px 0;
}
.section-promo{
  background-color: #fff;
  padding: 30px;
}

//Categories
.categories {
  $this: &;
  display: flex;  
  flex-wrap: wrap;  
  &__item{    
    position: relative;
    background-color: #fff;
    transition: all ease .3s;
    flex-basis: calc(100% / 3 - 30px);
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    cursor: pointer;    
      &:after{
        content: ' ';
        box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.1);
        left: 0;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
        top: 0;
      }
      &:hover{
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
        z-index: 2;        
        #{$this}__link{
          color: #348ae0;
        }
      }
  }
  &__link{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    color: #363949;   
    transition: all ease .3s;      
  }
  &__wrap{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }  
  &__tx{
    font-size: 14px;
    text-align: center;        
    font-weight: bold;    
    margin-top: 5px;
  }
}

.prices{
  display: flex;
    &__item{
      flex-basis: 50%;
      text-align: center;
    }
    &__value{
      font-size: 52px;
      font-weight: bold;
    }
    &__type{
      font-size: 40px;
      font-weight: normal;
    }
    &__info{
      font-weight: normal;
      font-size: 20px;
    }
}

.project-info{
  display: flex;
}