$price-default: #348ae0;
$price-primary: #f86210;


@import 'normalize';
@import 'media-queries';

@import 'fonts';
@import 'icons';
@import 'social';
@import '/controls/controls';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  font-size: 14px;
}
img{ 
  max-width: 100%;
  height: auto;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;  
}
//logos
.logo{
  &__box{
    padding: 15px 0;
    @include mobile-landscape-down{
      text-align: center;
    }    
  }
  &__item{
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: middle;
  }
    &__item + &__item{        
        margin-left: 30px;    
        @include mobile-portrait{
          margin: 0;
        }  
  }
}  
// Preview sections
.preview {
  display: flex;
  align-items: center;
  justify-content: space-between;    

  &--category{
    margin-bottom: 30px;
  }
  @include tablet-portrait-down{    
    flex-direction: column;    
  }    

  &__item{
    flex-basis: 50%;
    justify-content: space-around;
    &--promo{
      flex-basis: 40%;

      @include tablet-portrait-down{    
        margin-bottom: 30px;
      }
    }
    &--img{
      flex-basis: 60%;
      text-align: right;
    }
    &--info{
      flex-basis: 40%;
    }    
  }
  &__title{
    font-size: 36px;
    text-transform: uppercase;
    color: #1976d2;
    @include tablet-portrait-down{      
      text-align: center;
    }
    &--xl{
      font-size: 46px;
      @include mobile{
        font-size: 36px;
      }
    }
  }
  &__text{
    color: #262a3b;
    font-size: 18px;
    margin: 0 0 15px
  }
}
//Parts__preview
.section-preview{
  @include tablet-landscape-up{
    padding-bottom: 200px;
  }
}

// Parts__sea
.section-sea {
  background: url('../images/bg-sea.png') #f4f3f3 no-repeat center center;  
  background-size: cover;  
  padding: 230px 0 100px;
  position: relative;
  
  @include tablet-portrait-down{
    padding: 30px 0;
  }
}
// Parts__mountains
.section-mountains {
  background: url('../images/bg-mountains.png') no-repeat left bottom;  
  background-size: contain;
  padding: 100px 0;
  @include tablet-portrait-down{
    padding: 30px 0;
  }
}
// Parts__abroad
.section-abroad {
  background: url('../images/bg-abroad.png')  #f4f3f3 no-repeat 100% -10px;  
  background-size: 80%;
  padding: 100px 0;
  @include tablet-portrait-down{
    padding: 30px 0;
  }
}
// Parts__home
.section-home {
  background: url('../images/bg-home.png') no-repeat left bottom;  
  background-size: 70%;
  padding: 100px 0;
  @include tablet-portrait-down{
    padding: 30px 0;
  }
}
// Pats__cost
.section-cost{
  position: relative;
  background-color: #348ae0;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  color: #fff;  
  &:after{
    content: '';
    width: 100%;
    display: table;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: absolute;
    bottom: 0;
  }
}
.section-promo{
  background-color: #fff;
  padding: 30px 0;
    &--bg{
      background-color: #f4f3f3;
    }
}

//Categories
.categories {
  $this: &;
  display: flex;  
  flex-wrap: wrap;  
  @include tablet-portrait-down{
    justify-content: center;
    margin: 0 -15px;
    padding: 30px 0;
  }
  &__item{    
    position: relative;
    background-color: #fff;
    transition: all ease .3s;
    flex-basis: calc(100% / 3 - 30px);
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    box-shadow: inset 0 0 1px 1px rgba(115, 115, 115, 0.1);

    @include tablet-landscape-down{
      flex-basis: calc(100% / 3 - 30px);      
    }
    @include tablet-portrait-down{
      flex-basis: calc(100% / 4 - 30px);
    }
    
    @include mobile-landscape{
      flex-basis: calc(100% / 2 - 30px);
    }

    @include mobile-portrait{
      flex-basis: calc(100% / 2 - 30px);
    }

    cursor: pointer;    
      &:after{
        content: ' ';
        box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.1);
        left: 0;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
        top: 0;
      }
      &:hover{
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
        z-index: 2;        
        #{$this}__link{
          color: #348ae0;
        }
      }
  }
  &__link{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    color: #363949;   
    transition: all ease .3s;      
  }
  &__wrap{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }  
  &__tx{
    font-size: 14px;
    text-align: center;        
    font-weight: bold;    
    margin-top: 5px;
  }
}
// Sections prices
.prices{
  display: flex;
  @include mobile{
    flex-direction: column;
  }
    &__item{
      position: relative;
      flex-basis: 50%;
      text-align: center;
      padding: 60px 0;      
      @include mobile{
        padding: 20px 0;
      }
      &:nth-child(n+2):before {
        content: ' ';
        width: 1px;
        height: 100%;
        background-color:rgba(255, 255, 255, .2);
        position: absolute;
        top: 0;
        left: 0;
        @include mobile{
          width: 100%;
          height: 1px;          
        }
      }
    }
    &__value{
      font-size: 52px;
      font-weight: bold;
    }
    &__type{
      font-size: 40px;
      font-weight: normal;
    }
    &__info{
      font-weight: normal;
      font-size: 20px;
    }
}
//Progect info
.project{
  display: flex;
  align-items: center;
  @include tablet-portrait-down{
    flex-direction: column;
  }
  &__link{
    font-size: 0;
    display: block;
  }
  &__img{
    max-width: none;
    width: 220px;
    height: 100px;
  }
  &__item + &__item{
    @include tablet-portrait-down{
      margin-top: 30px;
    }    
    @include tablet-landscape-up{
      padding-left: 30px;
    }
  }
  &__item{
    font-size: 18px;       
  }
}

//Categories-info
.category-info{
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 0;      
    &__tx{
      margin-bottom: 60px;
      text-align: center;
      font-size: 18px;    
      font-weight: 600;
      color: #262a3b;
    }
    &__item{        
        border-radius: 100px;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
        color: #fff;
        font-size: 18px;
        font-weight: normal;
        background-color: $price-default;
        padding: 44px 15px;        
        flex-basis: 40%;      
        text-align: center;

        @include tablet-portrait-down{
          flex-basis: 80%;
          margin-bottom: 30px;          
        }
        @include mobile-landscape-down{
          flex-basis: 100%;   
          font-size: 14px;               
        }
          
    }
}

//Categories products-item
.product{

  &__row{
    display: flex;    
    flex-wrap: wrap;    
    margin: 0 -15px;
    justify-content: center;    
    margin-bottom: 60px;        
  }
  &__item{    
    display: flex;
    flex-direction: column;   
    width: 190px;    
    margin-bottom: 30px;     
    padding: 0 15px;
    @include desktop-up{
      width: 165px;
    }
    @include mobile{
      width: 120px;
    }  
   
  }
  &__top{    
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
  }
  &__info{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__price{
    position: absolute;
    bottom: 35px;
    text-align: center;
    margin-bottom: 15px;
  }
  &__value{
    font-size: 18px;
    font-weight: 600;
    color: $price-primary;
  }
  &__link{
    color: #262a3b;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-bottom: 45px;
    transition: all ease .3s;
    @include tablet-portrait-down{
      font-size: 12px;
    }
    &:hover{
      color: $price-default;
    }
  }
}

//Footer
.footer{
  padding: 30px 0;
  background-color: $price-default;

    &__box{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
}
.copyright{
  color: #fff;
  font-size: 14px;  
  text-align: center;
}