.product__row
    .product__item
        .product__top
            a(href="#" class="product__img" target="_blank")
                img(src="./images/abroad/products/case-1.jpg", alt="Описание товара" title="Описание товара")
        .product__info
            a(href="#" class="product__link" target="_blank")
                | Travelite Orlando S Red (TL098487-10)
            .product__price 
                span(class="product__value") 19 1986 
                | грн
            a(href="#" class="btn btn--sm btn--primary") Сравнить цены
    .product__item
        .product__top
            a(href="#" class="product__img" target="_blank")
                img(src="./images/abroad/products/case-2.jpg", alt="Описание товара" title="Описание товара")
        .product__info
            a(href="#" class="product__link" target="_blank")
                | Travelite Orlando S Red (TL098487-10)
            .product__price 
                span(class="product__value") 19 1986 
                | грн
            a(href="#" class="btn btn--sm btn--primary") Сравнить цены
    .product__item
        .product__top
            a(href="#" class="product__img" target="_blank")
                img(src="./images/abroad/products/case-3.jpg", alt="Описание товара" title="Описание товара")
        .product__info
            a(href="#" class="product__link" target="_blank")
                | Travelite Orlando S Red Travelite Orlando S RedTravelite Orlando S Red (TL098487-10)
            .product__price 
                span(class="product__value") 19 1986 
                | грн
            a(href="#" class="btn btn--sm btn--primary") Сравнить цены
    .product__item
        .product__top
            a(href="#" class="product__img" target="_blank")
                img(src="./images/abroad/products/case-4.jpg", alt="Описание товара" title="Описание товара")
        .product__info
            a(href="#" class="product__link" target="_blank")
                | Travelite Orlando S Red (TL098487-10)
            .product__price 
                span(class="product__value") 19 1986 
                | грн
            a(href="#" class="btn btn--sm btn--primary") Сравнить цены
    .product__item
        .product__top
            a(href="#" class="product__img" target="_blank")
                img(src="./images/abroad/products/case-5.jpg", alt="Описание товара" title="Описание товара")
        .product__info
            a(href="#" class="product__link" target="_blank")
                | Travelite Orlando S Red (TL098487-10)
            .product__price 
                span(class="product__value") 19 1986 
                | грн
            a(href="#" class="btn btn--sm btn--primary") Сравнить цены
    .product__item
        .product__top
            a(href="#" class="product__img" target="_blank")
                img(src="./images/abroad/products/case-6.jpg", alt="Описание товара" title="Описание товара")
        .product__info
            a(href="#" class="product__link" target="_blank")
                | Travelite Orlando S Red (TL098487-10)
            .product__price 
                span(class="product__value") 19 1986 
                | грн
            a(href="#" class="btn btn--sm btn--primary") Сравнить цены