doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Price.ua    
  body    
    include includes/header/header__category.pug
    include includes/parts/categories/category__sea--swimsuit.pug
    include includes/footer/footer.pug    