doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Price.ua
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
  body.index-page      
    include includes/header/header__index.pug
    include includes/parts/parts__preview.pug
    include includes/parts/parts__sea.pug
    include includes/parts/parts__mountains.pug
    include includes/parts/parts__abroad.pug   
    include includes/parts/parts__home.pug
    include includes/footer/footer.pug    