footer.footer
    .container
        .footer__box
            .logo__box
                a(class="logo__item" href="http://ictv.ua")
                    img(class='logo__ictv' src='./images/ictv-white-logo.png' alt='ictv.ua')      
                a(class="logo__item" href="http://price.ua")
                    img(class='logo__price' src='./images/price-white-logo.png' alt='price.ua')
            .copyright Совместный проект Fakty.ictv.ua и Price.ua. &copy; 2018