.nav.nav--desktop
    .nav__item
        a(class="nav__link" href="#nav-sea")
            span.nav__btn.nav__btn--blue На море
            img(class="nav__img" src="./images/nav/nav-see.png", alt="")
    .nav__item
        a(class="nav__link" href="#nav-mountains")
            span.nav__btn.nav__btn--blue В горы
            img(class="nav__img" src="./images/nav/nav-mountains.png", alt="")
    .nav__item
        a(class="nav__link" href="#nav-abroad")
            span.nav__btn.nav__btn--blue В горы
            img(class="nav__img" src="./images/nav/nav-adbord.png", alt="")
    .nav__item            
        a(class="nav__link" href="#nav-home")
            span.nav__btn.nav__btn--blue Дома
            img(class="nav__img" src="./images/nav/nav-home.png", alt="")