//- add .nav-panel--fixed onScrollDown
.nav-panel    
    .nav-panel__box
        .nav-logo        
            a(class="nav-logo__item" href="#")
                img(class='logo__ictv' src='./images/ictv-logo.png' alt='ictv')      
            a(class="nav-logo__item" href="#")
                img(class='logo__price' src='./images/price-logo.png' alt='price') 
        .nav-menu
            .nav-menu__item
                a(class="nav-menu__link" href="index.html/#nav-see")
                    span.btn.btn--round.btn--default На море            
            .nav-menu__item
                a(class="nav-menu__link" href="index.html/#nav-mountains")
                    span.btn.btn--round.btn--default В горы            
            .nav-menu__item
                a(class="nav-menu__link" href="index.html/#nav-adbord")
                    span.btn.btn--round.btn--default За границу            
            .nav-menu__item
                a(class="nav-menu__link" href="index.html/#nav-home")
                    span.btn.btn--round.btn--default Дома  
        button(class="nav-btn" type="btn")              