.nav{
    $this: &;

    position: absolute;    
    top: -125px;
    left: 0;
    right: 0;    
    width: 100%;
    justify-content: center;    

    &--desktop{
        display: none;
        @include desktop-up{
            padding-bottom: 200px;
        }
        @include tablet-landscape-up{
            display: flex;
        }
    }        

    &__item{
        position: relative;
    }

    &__link{
        display: inline-block;
        transition: all ease .3s;

        &:hover{
            transform: translateY(-5%);

            #{$this}__btn{
                background-color:rgba(52, 138, 224, .9);
            }
            #{$this}__img{
                filter: contrast(115%);                                
            }
        }
    }

    &__img{
        transition: all ease .3s;
    }

    &__btn{
        position: absolute;
        z-index: 2;
        bottom: -15px;
        text-align: center;
        left: 0;
        right: 0;
        max-width: 170px;
        margin: 0 auto;

        &--blue{
                color: #fff;  
                font-size: 18px;          
                text-transform: uppercase;
                border-radius: 50px;
                background-color: rgb(52, 138, 224);
                padding: 13px 15px;
                box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);                              
                transition: all ease .3s;
            &:hover{
                background-color: rgba(52, 138, 224, 0.9);
            }                
        }        
    }
}


//mobile-nav
.nav-panel{
    width: 100%;    
    height: 70px;
    margin: 15px 0 90px;
    background-color: #fff;    

    &--fixed{
        top: 0;
        left: 0;        
        position: fixed;      
        z-index: 10;     
        box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.1);
    }   

    &__box{
        @extend .container;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

//nav-menu
.nav-menu{
    display: flex;
    @include desktop-down{
        display: none;
    }
    &__item{         
        position: relative;        
    }
    &__item + &__item{
        margin-left: 20px;
    }

    &__link{
        display: inline-block;
        transition: all ease .3s;        
    }
    
    &__btn{
        position: absolute;
        z-index: 2;
        bottom: -15px;
        text-align: center;
        left: 0;
        right: 0;
        max-width: 170px;
        margin: 0 auto;
        &--blue{
            @extend .nav__btn--blue;
        }        
    }
}

.nav-logo{
    display: flex;    
    &__item{        
        font-size: 0;
        display: inline-block;        
    }
    &__item + &__item{        
        margin-left: 30px;
    }
}