section.previews
    .container
        .preview.preview--category
            .preview__item.preview__item--promo
                h1(class="preview__title preview__title--xl") Сколько стоят чемоданы?
                p(class="preview__text") Все дело в размерах: супербольшой экземпляр - 
                    | для суперсемьи либо действительно длительного 
                    | путешествия “стандарт” - для себя либо скромной пары
                    | детский - чтобы младшим было веселее.
                .btn-box
                    a(class ="btn btn--primary" href="http://Price.ua") Сравнить все товары
                include ../../parts/social-icons.pug
            .preview__item.preview__item--img
                img(src='./images/abroad/products/category-case.jpg', alt="Сколько стоят чемоданы?")

        .category-info
            .category-info__item
                | Маленькие чемоданы имеют размер до 59 см, 
                | вместимостью 34-35 л. Вы сможете положить все 
                | необходимое для путешествия на несколько дней. 
            .category-info__item
                | Большие чемоданы имеют высоту около 70-80 см, 
                | вместимостью порядка 85-95 л. Идеально подходят 
                | для длительного путешествия с детьми.

        .category-info__tx
            | Для семейного отпуска необходимо приобрести большой чемодан, чтобы поместить вещи #[br] каждого члена семьи. В некоторых случаях один большой чемодан будет более оптимальным решением, чем несколько маленьких. 

        include ../products/products__item.pug
        .category-info__tx
            | Чемоданы среднего размера идеально подойдут для поездки за границу на кратковременный период,#[br] на одного человека либо на пару. Достаточно будет размера М, чтоб взять с собой все необходимые вещи.
        
        include ../products/products__item.pug
        .category-info__tx
            | У маленьких путешественников тоже есть свои вещи, и не менее важные, чем у взрослых.#[br] Чтобы приучить ребенка к самостоятельности, нужно в первую очередь научить следить за собственными вещами.
        
        include ../products/products__item.pug
        .category-info__tx
            | Хорошая альтернатива чемоданам - дорожные сумки. Для того, чтобы выбрать хорошую сумку #[br] вместо чемодана, нужно обратить внимание на качество материала и размер. 
                    
        include ../products/products__item.pug
        .category-info__tx
            | Преимущество чемоданов из ткани - они имеют достаточно отделов для побрякушек.#[br] Чемоданы из пластика более прочные, их легче почистить. Также можно не бояться попадания  внутрь воды.            
        
        include ../products/products__item.pug
        .category-info__tx
            | Однозначно, тканевые чемоданы - более бюджетный вариант.#[br] Есть множество вариантов в ценовом сегменте 1 000-1 500 грн. Вот сравните:
        
        include ../products/products__item.pug
        .category-info__tx
            | Для длительных либо дальних поездок, а также для больших семейств#[br] советуем сравнить такие варианты чемоданов:

        include ../products/products__item.pug        