header
  .container
    .logo__box
      a(class="logo__item" href="#")
        img(class='logo__ictv' src='./images/ictv-logo.png' alt='ictv')      
      a(class="logo__item" href="#")
        img(class='logo__price' src='./images/price-logo.png' alt='price')    
