section.section-preview
  .container
    .logo-box
      a(href="#")
        img(class='logo__ictv' src='./images/ictv-logo.png' alt='ictv')      
      a(href="#")
        img(class='logo__price' src='./images/price-logo.png' alt='price')
    .preview
      .preview__item.preview__item--info
        h1(class="preview__title preview__title--xl") Сколько стоит собраться в отпуск
        p(class="preview__text") Факты ICTV вместе с сайтом сравнения цен Price.ua помогают собрать 
          | самые необходимые вещи для отдыха за рубежом, на море, в горах или 
          | дома. Мы изучили модные тенденции, узнали многое про практичное 
          | использование разных вещиц, а также сравнили цены в популярных 
          | онлайн-магазинах.        
        include ../parts/social-icons.pug
      .preview__item.preview__item--img
        img(src='./images/preview__img.png', alt="Сколько стоит собраться в отпуск")
